<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/header.ejs') %>
    <script src="https://unpkg.com/ejs@3.1.6/ejs.min.js"></script>
</head>

<body class="hold-transition sidebar-mini">
  <!-- navbar -->
  <%- include('./partials/navbar.ejs') %>

    <!-- sidebar -->
    <%- include('./partials/sidebar.ejs') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Update Product</h1>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
          <form id="updateProductForm" enctype="multipart/form-data">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="text">Product Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= productData[0].name %>" />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="text">Description</label>
                    <input type="text" class="form-control" id="description" name="description"
                      value="<%= productData[0].description %>" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Category Name</label>
                    <select class="form-control" name="categoryId">
                      <option value="<%= productData[0].categoryId %>">
                        <%= productData[0].category %>
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Upload Image </label><br />
                    <input type="file" id="image" name="image" multiple />
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>

            <div class="row my-3" id="imageDiv">
              <% productData[0].images.forEach(function(image) { %>
                <div class="col m-2 <%= image._id %>">
                  <img src="<%= image.image %>" alt="" width="250px" height="176px" /><br />
                  <button id="deleteData" type="button" class="btn btn-danger btn-sm list-action-btns mx-auto"
                    onclick="deleteImage('<%= image._id %>')">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
                <% }) %>
          </form>
        </section>
      </div>

      <div class="col-md-2 float-right  mt-n2">
        <a href="/admin/user/userData/view"><button type="button" class="btn btn-block btn-primary btn-flat">
            Back
          </button></a>
      </div>

      <!-- footer     -->
      <%- include('./partials/footer.ejs') %>
        <!-- /footer -->

        <!-- script -->
        <%- include('./partials/script.ejs') %>
          <!-- /script -->

          <script>
            $(document).ready(function () {
              $("#updateProductForm").validate({
                rules: {
                  name: {
                    required: true,
                  },
                  description: {
                    required: true,
                  },
                  categoryName: {
                    required: true,
                  },
                  image: {
                    required: false,
                  },
                },
                messages: {
                  name: {
                    required: "Please enter product name",
                  },
                  description: {
                    required: "Please enter description",
                  },
                  categoryId: {
                    required: "Please enter category ",
                  },
                },
                errorElement: "span",
                errorPlacement: function (error, element) {
                  error.addClass("invalid-feedback");
                  element.closest(".form-group").append(error);
                },
                highlight: function (element, errorClass, validClass) {
                  $(element).addClass("is-invalid");
                },
                unhighlight: function (element, errorClass, validClass) {
                  $(element).removeClass("is-invalid");
                },
              });

              $("#updateProductForm").submit(function (event) {
                let validation = $(this).valid();
                if (validation) {
                  event.preventDefault();
                  let productData = null;
                  productData = new FormData(this);
                  $.ajax({
                    url: "/admin/product/update/<%= productData[0]._id %>",
                    method: "put",
                    dataType: "json",
                    data: productData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    headers: {
                      authorization: "bearer" + " " + localStorage.getItem("token"),
                    },
                    success: function (result) {
                      console.log('result :>> ', result);
                      if (result.status == 200) {
                        toastr.success(result.message);
                        window.location.href = "/admin/product/productData/view";
                      } else {
                        $("#name").val("");
                        $("#description").val("");
                        toastr.error(result.message);
                      }
                    },
                    error: function (err) {
                      console.log("something went wrong", err);
                    },
                  });
                }
              });
            });

            function deleteImage(imageId) {
              $(document).ready(function () {
                let url = `/admin/product/image/delete/${imageId}`;
                $.ajax({
                  url: url,
                  method: "delete",
                  dataType: "json",
                  headers: {
                    authorization: "bearer" + " " + localStorage.getItem("token"),
                  },
                  success: function (result) {
                    if (result.status == 200) {
                      $("." + imageId).remove()
                      toastr.success(result.message);
                    } else {
                      toastr.error(result.message);
                    }
                  },
                  error: function (err) {
                    console.log("something went wrong in deletion", err);
                  },
                });
              });
            }
          </script>
</body>

</html>